<%- include('partials/header'); %>

<h1>Home</h1>
<% allPost.forEach(function (post){ %>
    <h1> <%= post.title %> </h1>
    <p class="trunk"> <%= post.content %> </p>
<% }); %>


<%- include('partials/footer'); %>